.author {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.author-about {
    margin: 0 2.6em 2em;
}

.mario-photo-area {
    text-align: center;
    margin-bottom: 2em;
}

.mario-photo {
    margin: 0 auto;
    width: 330px;
}

.author-description {
    text-align: justify;
    line-height: 1.3em;
}