/* Beggining of standard CSS of the page, header included */

html {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background: black;
    color: white;
}

html a {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: block;
    box-sizing: border-box;
    margin: 1em 0 1em 0;
}

header a {
    font-weight: 600;
}

header a:hover{
    font-weight: 600;
    background-color: white;
    color: black;
    transition: 0.3s;
}

h1 {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.nav-bar {
    width: 100vw;
    margin: auto;
    text-align: center;
}

.nav-item {
    display: inline-block;
    padding: 0.3em 0.6em 0.3em 0.3em;
}

.logo-area {
    text-align: center;
    width: 100vw;
}

#logo-img {
    width: 10vw;
    margin: 0.6em;
    border-radius: 50%;
}

main {
    margin: 2em 0 2em 0;
}

@media screen and (max-width: 480px) {
    #logo-img {
        width: 15vw;
    }
}
/* End of standard CSS of the webpage. Header included */

/* Start of homepage CSS for last released drawing */

.latest-drawing {
    text-align: center;
    width: 100vw;
    margin: 1em auto;
}

.home-drawing {
    border: 5px solid white;
    width: 60vw;
}

.figure-description {
    font-size: small;
    margin-top: 0.6em;
}

.drawing-storytelling {
    margin: auto;
    width: 80vw;
    padding: 1em;
    font-size: small;
    font-style: italic;
}
/* End of homepage CSS for last released drawing */

/* Start of CSS for the footer placed on all pages */

footer {
    margin-top: auto;
    height: 6vh;
    width: 100vw;
}

.footer-credits {
    font-size: 0.7em;
    text-align: center;
    margin: auto;
}